<div class="mt-5 mx-auto">
    <h1 class="mb-5 text-center">Partner</h1>

    <div class="text-center col-4 mx-auto mb-5"><img class="img-fluid" src="{{partner.logoURL}}"></div>


    <table class="table">
        <tr class="d-flex">
            <th class="col-3">Name</th>
            <td class="col-9">{{{partner.name}}}</td>
        </tr>
        <tr class="d-flex">
            <th class="col-3">Description</th>
            <td class="col-9">{{{partner.description}}}</td>
        </tr>
        <tr class="d-flex">
            <th class="col-3">Web</th>
            <td class="col-9">{{partner.websiteURL}}</td>
        </tr>
        <tr class="d-flex">
            <th class="col-3">Email</th>
            <td class="col-9">{{partner.email}}</td>
        </tr>
        <tr class="d-flex">
            <th class="col-3">Phone</th>
            <td class="col-9">{{partner.phone}}</td>
        </tr>
        <tr class="d-flex">
            <th class="col-3">Industries</th>
            <td class="col-9">{{partner.industries}}</td>
        </tr>
    </table>
</div>

        