<div class="mt-5 mx-auto">
    <h1 class="mb-5 text-center">Provider</h1>

    <div class="text-center col-4 mx-auto mb-5"><img class="img-fluid" src="{{provider.logoURL}}"></div>


    <table class="table">
        <tr class="d-flex">
            <th class="col-3">Name</th>
            <td class="col-9">{{{provider.name}}}</td>
        </tr>
        <tr class="d-flex">
            <th class="col-3">Description</th>
            <td class="col-9">{{{provider.description}}}</td>
        </tr>
        <tr class="d-flex">
            <th class="col-3">Web</th>
            <td class="col-9">{{provider.websiteURL}}</td>
        </tr>
        <tr class="d-flex">
            <th class="col-3">Email</th>
            <td class="col-9">{{provider.email}}</td>
        </tr>
        <tr class="d-flex">
            <th class="col-3">Phone</th>
            <td class="col-9">{{provider.phone}}</td>
        </tr>
        <tr class="d-flex">
            <th class="col-3">Industries</th>
            <td class="col-9">{{provider.industries}}</td>
        </tr>
        <tr class="d-flex">
            <th class="col-3">Credit-To-Points Multiplier</th>
            <td class="col-9">{{provider.creditToPointsMultiplier}}</td>
        </tr>
    </table>
</div>

        